.card {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  min-height: 45%;
  padding: 8px 12px;
  border-radius: 16px;
  background-color: hsl(217, 19%, 24%);
}
.diceBox {
  display: inline;
  padding: 12px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
  position: absolute;
  bottom: -8%;
}
.text {
  color: hsl(193, 38%, 86%);
}
.advice {
  color: hsl(150, 100%, 66%);
  font-size: rem(28px);
}
.img {
  max-width: 100%;
  margin-bottom: 40px;
}
